.Cart {
  width: 100%;
  min-height: 90vh;
  min-height: 90dvh;
  padding: 2% 5%;

  &__cartProduct {
    margin: 5px 0px;
    padding: 1rem;
    list-style: none;

    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 2px solid black;

    /*Color, Name, Cost, Image*/
    &__detail {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &__name {
        width: 50%;
        font-size: large;
        font-family: "Righteous", cursive;
      }
      &__color {
        margin: 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      &__price {
        color: black;
        width: 20%;
        text-align: center;
        font-size: larger;
        font-family: "Viga", sans-serif;
      }
      &__image {
        height: 70px;
        width: 70px;
        margin: 0px 10px;
        object-fit: cover;

        user-select: none;
        pointer-events: none;
        border-radius: 1rem;
      }
    }
  }

  &__calculatedPrice {
    color: black;
    width: 20%;
    text-align: center;
    font-size: larger;
    font-family: "Viga", sans-serif;
  }
  &__count {
    padding: 0px 10px;
    font-size: xx-large;
    font-family: "Viga", sans-serif;
  }

  &__actions {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__buttons {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      &__addItem,
      &__removeItem {
        cursor: pointer;
        font-weight: bolder;
        font-size: x-large;
        border-radius: 1rem;
        margin: 0px 10px;
        color: white;
        border: 1px solid black;
        transition: all 0&__5s ease;

        &:hover {
          color: black;
          background-color: white;
        }
      }

      &__addItem {
        padding: 5px 5px;
        background-color: black;
      }
      &__removeItem {
        padding: 5px 7px;
        background-color: black;
      }
    }
  }
}

/*Dustbin*/
.fa-trash-o {
  color: red;
  width: 20%;

  text-align: center;
  cursor: pointer;

  border-radius: 1rem;
  padding: 10px;
  font-size: xx-large;
  &:hover {
    color: black;
  }
}

@media all and (max-width: 750px) {
  .Cart {
    &__cartProduct {
      &__detail {
        &__image {
          height: 50px;
          width: 50px;
          border-radius: 10px;
          margin: 0px 10px;
        }
        &__color {
          margin: 0px;
          width: 20px;
          height: 20px;
        }
        &__name {
          margin: 0px 10px;
          font-size: medium;
        }
        &__price {
          font-size: medium;
        }
      }
    }

    &__calculatedPrice,
    &__actions {
      &__buttons {
        &__addItem,
        &__removeItem {
          font-size: medium;
        }
      }
    }
  }

  .fa-trash-o {
    font-size: x-large;
  }
}

@media all and (max-width: 640px) {
  .Cart {
    &__cartProduct {
      margin: 15px 0px;
      padding: 0.3rem;
      flex-direction: column;

      &__detail {
        width: 100%;
        &__image {
          height: 40px;
          width: 40px;
          margin: 5px 10px;
        }
        &__color {
          margin: 5px;
          width: 25px;
          height: 25px;
        }
        &__name {
          margin: 0px 10px;
          font-size: medium;
        }
        &__price {
          font-size: medium;
        }
      }
    }

    &__calculatedPrice {
      font-size: medium;
    }
    &__count {
      font-size: medium;
    }

    &__actions {
      width: 100%;
      border-top: 1px dotted black;
      flex-direction: row;

      &__buttons {
        &__addItem,
        &__removeItem {
          font-size: small;
        }
        &__addItem {
          padding: 2px 5px;
          background-color: black;
        }
        &__removeItem {
          padding: 3px 7px;
          background-color: black;
        }
      }
    }
  }

  .fa-trash-o {
    font-size: large;
  }
}

@media all and (max-width: 400px) {
  .Cart {
    &__cartProduct {
      margin: 10px 0px;
      padding: 0.3rem;

      &__detail {
        &__image {
          height: 30px;
          width: 30px;
          border-radius: 5px;
          margin: 5px 10px;
        }
        &__name {
          margin: 0px 10px;
          font-size: small;
        }
        &__price {
          font-size: medium;
        }
      }
    }

    &__calculatedPrice {
      font-size: medium;
    }
    &__count {
      font-size: small;
    }

    li {
      border: 1px solid black;

      &:nth-child(2n + 1),
      &:nth-child(2n) {
        background-color: white;
        box-shadow: 0px 0px 0px;
      }
    }
  }

  .fa-trash-o {
    font-size: medium;
  }
}

@media all and (max-width: 320px) {
  .Cart {
    &__cartProduct {
      margin: 10px 0px;
      padding: 0.3rem;
      &__detail {
        &__image {
          height: 25px;
          width: 25px;
          border-radius: 5px;
          margin: 5px 10px;
        }
        &__name {
          margin: 0px 10px;
          font-size: x-small;
        }
        &__price {
          font-size: small;
        }
      }
    }

    &__calculatedPrice {
      font-size: small;
    }
    &__count {
      font-size: small;
    }

    &__actions {
      &__buttons {
        &__addItem,
        &__removeItem {
          font-size: x-small;
        }
      }
    }

    li {
      border: 1px solid black;

      &:nth-child(2n + 1),
      &:nth-child(2n) {
        background-color: white;
        box-shadow: 0px 0px 0px;
      }
    }
  }

  .fa-trash-o {
    font-size: small;
  }
}
