#product-container {
  width: 100%;
  height: 100%;
  padding: 5%;

  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;

  background-color: white;
}
:root {
  --margin: 5px 0px;
}

.heading {
  margin: 10px;
  text-align: center;
  color: navy;
  font-family: "Rowdies", cursive;
}

#product-container a {
  text-decoration: none;
}

.product-card {
  width: 250px;
  height: fit-content;
  margin: 20px;
  padding: 0% 5%;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
}
.product-card:hover {
  box-shadow: 0px 0px 15px rgb(112, 112, 255);
  transition: all 0.4s ease;
}

.product-card > section > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  background-color: gainsboro;
}
.brand > p {
  text-align: center;
  color: darkmagenta;
  font-size: medium;
  font-family: "Secular One", sans-serif;
}
.name > p {
  color: navy;
  text-align:start;
  font-size: x-large;
  font-family: "Staatliches", cursive;
}
.price {
  color: navy;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lilita One", cursive;
}
.type {
  color: orangered;
  font-family: "Rowdies", cursive;
}

.price,
.type {
  font-size: large;
}

.product-card > section > img,
.type,
.price,
.name > p,
.brand > p {
  margin: var(--margin);
}

@media screen and (max-width: 750px) {
  .product-card {
    width: 150px;
    margin: 10px;
    padding: 2% 5%;
  }
  .product-card > section > img {
    width: 100%;
    height: 120px;
  }
  .name > p {
    font-size: medium;
  }
  .brand > p {
    font-size: medium;
  }
  .price,
  .type {
    font-size: medium;
  }
  .product-card > section > img,
  .type,
  .price {
    margin: 2px 0px;
  }
  .name > p,
  .brand > p {
    margin: 0px;
  }
}

@media screen and (max-width: 380px) {
  .product-card {
    width: 100px;
    margin: 10px;
  }
  .product-card > section > img {
    width: 100%;
    height: 100px;
  }
  .name > p {
    font-size: x-small;
  }
  .brand > p,
  .price,
  .type {
    font-size: small;
  }
  .type,
  .price {
    margin: var(--margin);
  }
  .product-card > section > img,
  .name > p,
  .brand > p {
    margin: 0px 2px;
  }
}
