/*Container*/
.product-details-onClick {
  width: 100%;
  height: 100%;
  padding: 2% 5%;
  gap: 2%;

  display: flex;
  flex-direction: row;
}

/*Left side*/
#selectedProductImage {
  width: 50%;
  height: 80vh;
  height: 80dvh;
}
#selectedProductImage > img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*Right side*/
#selectedProductDetails {
  width: 50%;
  height: 80vh;
  height: 80dvh;
  overflow-y: auto;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


#selectedProductName {
  user-select: none;
  color: navy;
  font-size: 3.5rem;
  font-family: "Viga", sans-serif;
}

#productType {
  user-select: none;
  font-size: larger;
  color: navy;
  font-family: "Righteous", cursive;
}

#selectedProductBrand {
  user-select: none;
  color: crimson;
  font-size: xx-large;
  font-family: "Righteous", cursive;
}

#selectedProductPrice {
  color: black;
  user-select: none;
  font-size: 4rem;
  font-family: "Monoton", cursive;
}

#productDescription {
  width: 100%;
  font-family: "Viga", sans-serif;
}

.tags {
  color: navy;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}
.colors > div {
  height: 30px;
  width: 30px;
  margin: 3px 0px;

  border-radius: 50%;
}

#addToCartButton button {
  cursor: pointer;
  margin: 10px 0px;
  padding: 10px;
  font-size: large;
  color: white;
  border-radius: 1rem;
  background-color: crimson;
  font-family: "Viga", sans-serif;
}

@media screen and (max-width: 750px) {
  .product-details-onClick {
    padding: 5% 5%;
  }

  #selectedProductName {
    font-size: 2.5rem;
  }

  #selectedProductBrand {
    font-size: large;
  }

  #selectedProductPrice {
    font-size: 3rem;
  }

  .colors > div {
    height: 25px;
    width: 25px;
  }
}

@media screen and (max-width: 600px) {
  .product-details-onClick {
    padding: 5% 10%;
    flex-direction: column;
  }

  #selectedProductImage {
    width: 100%;
    height: 50vh;
    height: 50dvh;
  }

  #selectedProductImage > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  #selectedProductDetails {
    margin-top: 40px;
    width: 100%;
    height: fit-content;
  }

  #selectedProductName {
    font-size: xx-large;
  }

  #selectedProductPrice {
    font-size: 2.5rem;
  }

  .colors {
    gap: 1px;
    margin: 20px 0px;
  }
  .colors > div {
    margin: 1px 0px;
  }
}

@media screen and (max-width: 380px) {
  .product-details-onClick {
    padding: 10%;
  }
  #selectedProductImage {
    width: 100%;
    height: 40vh;
    height: 40dvh;
  }
  #selectedProductName {
    font-size: x-large;
  }
  #productDescription {
    font-size: small;
  }
}
