.productCard {
  width: 250px;
  height: fiContent;
  margin: 20px;
  padding: 0% 5%;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
}
.productCard:hover {
  box-shadow: 0px 0px 15px gray;
  transition: all 0.4s ease;
}

.productCard > section > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  background-color: gainsboro;
}
.brand > p {
  text-align: center;
  color: red;
  font-size: medium;

  font-family: "Staatliches", cursive;
}

.name > p {
  color: black;
  text-align: center;
  font-size: medium;
  font-family: "Secular One", sans-serif;
}

.price {
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Lilita One", cursive;
}

.type {
  color: black;
  font-family: "Rowdies", cursive;
}

.price,
.type {
  font-size: large;
}

.productCard > section > img,
.type,
.price,
.name > p,
.brand > p {
  margin: var(--margin);
}

@media screen and (max-width: 750px) {
  .productCard {
    width: 150px;
    margin: 10px;
    padding: 2% 5%;
  }
  .productCard > section > img {
    width: 100%;
    height: 120px;
  }
  .name > p {
    font-size: small;
  }
  .brand > p {
    font-size: smaller;
  }
  .price,
  .type {
    font-size: medium;
  }
  .productCard > section > img,
  .type,
  .price {
    margin: 2px 0px;
  }
  .name > p,
  .brand > p {
    margin: 0px;
  }
}

@media screen and (max-width: 380px) {
  .productCard {
    width: 110px;
    margin: 10px;
  }
  .productCard > section > img {
    width: 100%;
    height: 100px;
  }
  .name > p {
    font-size: x-small;
  }
  .brand > p,
  .price,
  .type {
    font-size: small;
  }
  .type,
  .price {
    margin: var(--margin);
  }
  .productCard > section > img,
  .name > p,
  .brand > p {
    margin: 5px 0px;
  }
}
