.brandCards {
  position: relative;
  padding-top: 15vh;
  padding-top: 15dvh;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  &__scroll {
    display: flex;
    flex-direction: row;
    padding-inline: 6vw;
    gap: 6vw;
  }
  .loader {
    width: 100%;
    height: 20px;
    background-color: gray;
    border-radius: 1rem;
    animation: load 2s ease infinite;
  }
}

@keyframes load {
  0%,
  100% {
    background-color: gray;
  }
  50% {
    background-color: white;
  }
}


@media screen and (max-width: 790px) {
  .brandCards {
    padding-top: 10vh;
    padding-top: 10dvh;
  }
}

@media screen and (max-width: 430px) {
  .brandCards {
    padding-top: 7vh;
    padding-top: 7dvh;
  }
}
