#nav {
  position: sticky;
  top: 0;
  z-index: 10;
  height: fit-content;
  width: 100%;
  padding: 0% 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: black;
  background-color: white;
}

#logo {
  user-select: none;

  font-size: xx-large;
  font-family: "Righteous", cursive;

  background: linear-gradient(to right, red, blue);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#logo,
#navs {
  padding: 1% 0%;
}

#navs {
  display: flex;

  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

#navs > a {
  color: blue;
  cursor: pointer;
  font-size: larger;
  user-select: none;

  padding: 10px;

  text-decoration: none;
  border: 3px solid #00000000;
  background-color: #00000000;
  font-family: "Righteous", cursive;
}

#navs > a:hover {
  color: orange;
  border-bottom: 3px solid orangered;
  transition: all 0.5s ease-out;
}

#cartCount {
  color: black;
  padding: 1px 3px;
  border-radius: 50%;
  background-color: orange;
}


@media screen and (max-width: 750px) {
  #navs > a {
    font-size: medium;
    margin: 0px 0px;
  }
}

@media screen and (max-width: 660px) {
  #logInOrSignIn {
    display: none;
  }
}

@media screen and (max-width: 550px) {

  #navs > a {
    padding: 10px 5px;
  }
}
@media screen and (max-width: 470px) {
  #logo {
    font-size: large;
  }
}

@media screen and (max-width: 420px) {
  #navs > a {
    font-size: small;
    margin: 0px 0px;
  }
}

@media screen and (max-width: 330px) {
  #navs > a {
    font-size: x-small;
    margin: 0px 0px;
  }
}
