.showOffPage {
  width: 100%;
  height: 70vh;
  height: 70dvh;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}

.carousel-container {
  position: relative;
  width: 60vw;
  width: 60dvw;
  height: 100%;

  overflow: hidden;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: #d2c6ff;
}

.Message {
  width: 40vw;
  width: 40dvw;
  height: 100%;
  padding: 2%;
  font-weight: bold;
  text-align: center;

  user-select: none;
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Permanent Marker", cursive;

  background: linear-gradient(
    to right bottom,
    #7700ff,
    #7700ff,
    #ff5b4c,
    blue,
    pink,
    pink
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.Message > p {
  font-size: 4rem;
}
.Message > p > span {
  font-size: 6rem;
  display: block;
}

.images {
  width: 1000%;
  height: 100%;

  display: flex;
  flex-direction: row;
}
.images .image {
  width: 10%;
  height: 100%;

  transition: all 0.8s ease-out;
}
.image > img {
  object-fit: cover;

  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .Message {
    font-size: 3.5rem;
  }
  .Message > p > span {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .Message > p {
    font-size: 3rem;
  }
  .Message > p > span {
    font-size: 5rem;
  }

  .showOffPage {
    width: 100%;
    height: 55vh;
    height: 55dvh;
  }
}

@media screen and (max-width: 900px) {
  .Message > p {
    font-size: 2.2rem;
  }
  .Message > p > span {
    font-size: 3.2rem;
  }

  .showOffPage {
    width: 100%;
    height: 45vh;
    height: 45dvh;
  }
}

@media screen and (max-width: 650px) {
  .showOffPage {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
  }

  .carousel-container {
    width: 100%;
    height: 40vh;
    height: 40dvh;
    border-radius: 0;
  }

  .Message {
    width: 100%;
  }
  .Message > p {
    font-size: 3rem;
  }
  .Message > p > span {
    font-size: 4rem;
  }
}

@media screen and (max-width: 330px) {
  .Message > p {
    font-size: 2.5rem;
  }
  .Message > p > span {
    font-size: 3.5rem;
  }
}
