.Container {
  width: 100%;
  margin-top: 20px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  font-family: "Viga", sans-serif;
}

.card {
  width: 50%;
  padding: 1% 0%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: rgb(253, 97, 123);
}

.Container > .card > section {
  margin: 10px 0px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#input-email,
#input-password,
#input-userName {
  padding: 5px;
  border-radius: 10px;
  font-size: medium;
  color: navy;
  background-color: white;

  font-family: "Viga", sans-serif;
}

#girls-image {
  user-select: none;
  pointer-events: none;
  cursor: none;

  width: 200px;
  height: 100%;
}

#loginButton,
#signinButton,
#login,
#register {
  color: white;
  font-size: large;
  font-family: "Viga", sans-serif;
}

#loginButton,
#signinButton {
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: crimson;
}

#login,
#register {
  cursor: pointer;
  color: white;
  border: 0px;
  margin: 0px 30px;
  background-color: #ffffff00;
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;

  width: 100%;
  height: 100vh;
  height: 100dvh;
}

.loginedIn,
.signedIn {
  /* position: absolute; */

  /* top: 0; */
  display: flex;
  align-items: center;
  flex-direction: column;

  transform: translateY(0px);
  animation: SlideDown 0.5s ease-out;
  font-family: "Viga", sans-serif;
}
@keyframes SlideDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0px);
  }
}

#sign-in-using {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#sign-in-using > button {
  border-radius: 50%;
  cursor: pointer;

  color: white;
  width: 35px;
  height: 35px;

  margin: 0px 10px;
  padding: 5px;
}

#sign-in-using > button > img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 750px) {
  .card {
    width: 70%;
  }

  #input-email,
  #input-password,
  #input-userName {
    padding: 3px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 70%;
  }

  .card > section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #login,
  #register {
    margin: 10px 0px;
  }

  #girls-image {
    width: 150px;
  }

  .Container > .card > section {
    margin: 7px 0px;
  }
}

@media screen and (max-width: 460px) {
  #input-email,
  #input-password,
  #input-userName {
    padding: 3px;
  }

  #loginButton,
  #signinButton {
    padding: 5px 25px;
  }

  #sign-in-using > button {
    height: 30px;
    width: 30px;
  }
}
@media screen and (max-width: 330px) {
  .card {
    width: 70%;
    border-radius: 0.5rem;
  }

  #login,
  #register {
    margin: 3px 0px;
    font-size: medium;
  }
}
