* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
  background-color: white;
}
a {
  text-decoration: none;
}
/*scrollbar*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: rgb(200, 200, 200);
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0.5rem;
}
