* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
  background-color: white;
}
a {
  text-decoration: none;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 12px;
  background: linear-gradient(
    to bottom,
    violet,
    blue,
    green,
    yellow,
    orange,
    red
  );
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0.5rem;
  border: 2px solid white;
}
